/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.max-width {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}