<div class="container">
    <div class="row title">
        <div class="wrapper">
            <h2>Old Testament</h2>
        </div>
    </div>
    
    <div class="row books" data-bind="foreach: history.oldTestament">
        <div class="col-xs-2">
            <div class="wrapper" data-bind="css: {completed: completed, started: started}, click: $parent.toggleRead">
                <span class="hidden-xs" data-bind="text: longName">Genesis</span>
                <span class="visible-xs" data-bind="text: shortName">Gen</span>
            </div>
        </div>
    </div>

    <div class="row title">
        <div class="wrapper">
            <h2>New Testament</h2>
        </div>
    </div>
    
    <div class="row books newTestament" data-bind="foreach: history.newTestament">
        <div class="col-xs-2">
            <div class="wrapper" data-bind="css: {completed: completed, started: started}, click: $parent.toggleRead">
                <span class="hidden-xs" data-bind="text: longName">Genesis</span>
                <span class="visible-xs" data-bind="text: shortName">Gen</span>
            </div>
        </div>
    </div>
</div>