<div class="container">
    <div class="row title">
        <div class="wrapper">
            <h2>Old Testament</h2>
        </div>
    </div>

    <div class="row books">
        <div class="col-xs-2" ng-repeat="book in books.oldTestamentBooks">
            <div class="wrapper" ng-class="{completed: book.completed, started: book.started}" ng-click="goToChapters(book)">
                <span class="hidden-xs">{{ book.longName }}</span>
                <span class="visible-xs">{{ book.shortName }}</span>
            </div>
        </div>
    </div>

    <div class="row title">
        <div class="wrapper">
            <h2>New Testament</h2>
        </div>
    </div>

    <div class="row books newTestament">
        <div class="col-xs-2" ng-repeat="book in books.newTestamentBooks">
            <div class="wrapper" ng-class="{completed: book.completed, started: book.started}" ng-click="goToChapters(book)">
                <span class="hidden-xs">{{ book.longName }}</span>
                <span class="visible-xs">{{ book.shortName }}</span>
            </div>
        </div>
    </div>
</div>