<div class="container">
    <div class="row title">
        <div class="wrapper">
            <h2>Old Testament</h2>
        </div>
    </div>

    <div class="row books" ng-repeat="book in books.oldTestamentBooks">
        <div class="col-xs-2">
            <div class="wrapper" data-bind="css: {completed: completed, started: started}, click: $parent.toggleRead">
                <span class="hidden-xs">{{ book.longName }}</span>
                <span class="visible-xs">{{ book.shortname }}</span>
            </div>
        </div>
    </div>

    <div class="row title">
        <div class="wrapper">
            <h2>New Testament</h2>
        </div>
    </div>

    <div class="row books newTestament" ng-repeat="book in books.newTestamentBooks">
        <div class="col-xs-2">
            <div class="wrapper" data-bind="css: {completed: completed, started: started}, click: $parent.toggleRead">
                <span class="hidden-xs">{{ book.longName }}</span>
                <span class="visible-xs">{{ book.shortName }}</span>
            </div>
        </div>
    </div>
</div>