<div class="container">
    <h2>Login</h2>
    <!--Try this to force browser to remember https://gist.github.com/kostiklv/968927 -->
    <form role="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" data-bind="value: email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" data-bind="value: password">
        </div>

        <button type="submit" class="btn btn-default" data-bind="click: create">Login</button>
    </form>


    <a href="#register">Create Account</a>
</div>