<div class="container login">
    <h2>Login</h2>
    <!--Try this to force browser to remember https://gist.github.com/kostiklv/968927 -->
    <form id="login" role="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" 
                   data-bind="value: email" 
                   required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" 
                   data-bind="value: password" 
                   required>
        </div>
        
        <div class="row actions">
            <div class="col-xs-6">
                <button class="btn btn-default right" data-bind="click: create">Login</button>
            </div>            
            <div class="col-xs-6 register">
                <a href="#register">Create Account</a>
            </div>            
        </div>
    </form>


</div>