<div class="container readingLog" ng-repeat="year in historyRecords.years">
    <h1 class="page-header">{{ year.year }}</h1>
    <div ng-repeat="month in year.months">
        <h4>{{ month.month }}</h4>
        <ul class="list-group" ng-repeat="day in month.days">
            <li class="list-group-item">
                <div class="row">
                    <span class="day">{{ day.day }}</span>
                    <span class="book">{{ day.book }}</span>
                    <span class="chapter"> {{ day.chapter }} </span>
                </div>
            </li>
        </ul>
    </div>
</div>
