<div class="container readingLog" data-bind="foreach: history.historyRecords.years">
    <h1 class="page-header" data-bind="text: year"></h1>
    <div data-bind="foreach: months">
        <h4 data-bind="text: month"></h4>
        <ul class="list-group" data-bind="foreach: days">
            <li class="list-group-item">
                <div class="row">
                    <span class="day" data-bind="text: day"></span>
                    <span class="book" data-bind="text: book"></span>
                    <span class="chapter" data-bind="text: chapter"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
