<div class="container register">
    <h2>Create Account</h2>
    <form id="register" role="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" 
                   data-bind="value: email" 
                   required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" 
                   data-bind="value: password" 
                   required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" 
                   data-bind="value: confirmPassword" 
                   required>
        </div>
        <div class="row actions">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-default" data-bind="click: create">Create</button>
            </div>
        </div>
    </form>

</div>