<div class="container">
    <h2>Create Account</h2>
    <form role="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" data-bind="value: email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" data-bind="value: password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" data-bind="value: confirmPassword">
        </div>
        
        <button type="submit" class="btn btn-default" data-bind="click: create">Create</button>
    </form>
</div>