@{
    ViewBag.Title = "NoJavaScript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>JavaScript Is Disabled</h2>
    <p>You must enable JavaScript to use this application.</p>
    <a href="~/home/index" class="btn btn-primary btn-lg">Read Every Word</a>
</div>

