@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Read Every Word</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        
        <meta name="apple-mobile-web-app-title" content="Read Every Word">

        <link rel="apple-touch-icon" sizes="152X152" href="~/Content/images/AppIcon152x152.png" />
        <link rel="apple-touch-icon" sizes="120X120" href="~/Content/images/AppIcon120x120.png" />
        <link rel="apple-touch-icon" sizes="76X76" href="~/Content/images/AppIcon76x76.png" />
        <link rel="apple-touch-icon" sizes="60X60" href="~/Content/images/AppIcon60x60.png" />
        
        <link rel="apple-touch-startup-image" href="~/Content/images/AppIcon640X1096.png">
        
        

        @*<!-- iPhone -->
        <link rel="apple-touch-startup-image"
              media="(device-width: 320px)"
              href="~/Content/images/AppIcon320X460.png">
        <!-- iPhone (Retina) -->
        <link rel="apple-touch-startup-image"
              media="(device-width: 320px)
                    and (-webkit-device-pixel-ratio: 2)"
              href="~/Content/images/AppIcon640x920.png">

        <!-- iPad (portrait) -->
        <link rel="apple-touch-startup-image"
              media="(device-width: 768px)
                     and (orientation: portrait)"
              href="~/Content/images/AppIcon768x1024.png">
        <!-- iPad (landscape) -->
        <link rel="apple-touch-startup-image"
              media="(device-width: 768px)
         and (orientation: landscape)"
              href="~/Content/images/AppIcon768x1024.png">
        <!-- iPad (Retina, portrait) -->
        <link rel="apple-touch-startup-image"
              media="(device-width: 768px)
                     and (orientation: portrait)
                     and (-webkit-device-pixel-ratio: 2)"
              href="~/Content/images/AppIcon1536x2048.png">
        <!-- iPad (Retina, landscape) -->
        <link rel="apple-touch-startup-image"
              media="(device-width: 768px)
                     and (orientation: landscape)
                     and (-webkit-device-pixel-ratio: 2)"
              href="~/Content/images/AppIcon1536x2048.png">*@
        
        @Styles.Render("~/Content/css")
        
        <script type="text/javascript">
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        </script>
    </head>
    <body class="container">
        <div id="applicationHost">
            @Html.Partial("_splash")
        </div>
        
        @Scripts.Render("~/Scripts/vendor")
        <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
    </body>
</html>
