.splash {
    background: #ef8233;
    color: #fff;
    padding: 15px;
    max-width: 500px;
    border-radius: 10px;
    margin: 25px auto;
}

.splash .message {
    font-size: 2em;
    font-weight: bold;
    text-transform: none;
}

.splash .fa-spinner {
    margin-top: 20px;
    font-size: 3em;
}

.splash .bigLogo {
    content: url("images/bigLogo.png");
    margin: 20px 0;
    width: 256px;
}

.splash p {
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
    font-size: 1.2em;
    text-align: left;
    width: 270px;
    margin: auto;
}

.splash p.source {
    text-align: right;
    padding-right: 10px;
}

.page-host {
    background: #fff;
}

.navbar {
    min-height: 70px;
}

.navbar-brand {
    height: 44px;
    padding: 12px 8px;
    font-size: 14px;
}

.navbar-brand .glyphicon {
    margin-right: 6px;
}

.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-inverse {
    background: #aaa;
    border-color: #777;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #888;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #888;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar .container {
    margin-top: 20px;
}

.page-host {
    top: 70px;
}    

.username {
    padding-top: 13px;
    padding-right: 25px;
    padding-left: 15px;
}

a.back {
    margin-left: 4px;
    margin-top: 8px;
}

.back .glyphicon {
    margin-right: 5px;
}

.title h2 {
    font-size: 14px;
    margin: 6px 9px;
}

.title .wrapper {
    margin: 10px 4px 4px 4px;
    padding: 1px 4px;
    border-radius: 3px;
    background: #aaa;
    color: #fff;
}

.login form, .register form {
    margin-bottom: 10px;
    margin-top: 15px;
}

.login .actions, .register .actions{
    margin-top: 25px;
}

.login .actions .link, .register .actions .link {
    margin-top: 10px;
    text-align: right;
}

.books div {
    padding: 0;
}

.books .wrapper {
    background: #fff;
    color: #393939;
    /*border: #f6f6f6 solid 1px;*/
    box-shadow: 1px 1px 5px #ddd;
    border-radius: 3px;
    text-align: center;
    margin: 6px 3px;
    padding: 8px 2px;
    cursor: pointer;
}

.books .started{
    background: #e3e3e3;
    box-shadow: 1px 1px 2px #aaa;
    border: none;
}

.books .completed{
    background: #23719f;
    box-shadow: 1px 1px 2px #aaa;
    color: #FFF;
    border: none;
}

.newTestament {
    margin-bottom: 50px;
}



